{{!-- JumboTron --}}
<div class="jumbotron background-image text-center">
  <div class="container">
    <h1 class="display-4 text-white main-h1 font-weight-bolder">NOM BURGERS</h1>
  </div>
</div>
{{!-- End JumboTron --}}



<div class="form-container"> <h2>Make a Burger!</h2>
  <form class="create-form">

    <div class="input-group mb-3 col-md-4">
      <input type="text" id="burg" class="form-control" placeholder="Burger Name!" aria-label="Recipient's username"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Submit Burger</button>
      </div>
    </div>

  </form>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <h2>Burgers you made!</h2>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col">
      <h2>Burgers you've eaten!</h2>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>